@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  background-color: #000000;
  background-image: url("../bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#main {
  margin-top: 2%;
  text-align: center;
}

#graph_title {
  color: white;
  opacity: 0.5;  
  font-size: 40px;
  font-weight: 300;
}

.info {
  padding: 5px 20px;
  margin-bottom: 20px;
  font-size: 22px;
  color: white;
}

#buttons {
  display: inline-block;
  float: right;
  margin: 10px 0;
}

button {
  border: 0;
}

button:hover, button.active {
  background-color: #5CC3B6;
}

#pause {
  margin: 0;
  padding: 1px 0 0 4px;
}

#slider {
  float: right;
  display: inline-block;
  width: 30%;
  margin: 15px 20px;
}

.wheel {
  opacity: 0.15;
  fill: #FFFFFF;
  stroke-width: 1px;
  /*stroke: #FFFFFF;
  stroke-opacity:0.8;*/
}

.edge, .animate {
  stroke-width: 1px;
  fill:  none;
}

.edge {
  z-index: 1000;
}

.animate {
  z-index: 1001;
}

.impact_edge {
  z-index: 1;
  stroke-width: 1px;
  fill: none;
}

.node {
  font-size: 10px;
}


.node:hover, .edge:hover {
  cursor: pointer;
}


div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 60px;                  
  height: 25px;                 
  padding: 2px;             
  font: 16px sans-serif;
  color: white;
  background: black;   
  border: 0px;      
  border-radius: 5px;           
  pointer-events: none;         
}

.clear {
  clear: both;
}

.d3-slider {
  border: 1px solid rgba(255, 255, 255, 0.4) !important;
  border-radius: 5px;
}

.d3-slider-handle {
  background-image: url("../nyancat.png") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  width: 50px !important; 
  height: 30px !important;
  border: none !important;
}

#rainbow {
  background-image: url("../rainbow.png");
  background-repeat: repeat-x;
  width: 0;
  height: 105%;
}

header {
  margin: 0 20px;
}