@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

#main {
  margin-top: 2%;
}

.info {
  padding: 5px 40px;
  opacity: 0;
  font-size: 22px;
}

#graphs {
  float: left;
}

#wheel, #matrix {
  display: inline-block;
}

#buttons {
  margin: 10px;
}

.controls {
  text-align: center;
}

#slider {
 width: 50%;
 margin: 0 auto;   
}

.wheel {
  fill: #F7F7F7;
}

.edge {
  stroke-width: 4px;
  fill:  none;
}

.node {
  font-size: 10px;
}

.node:hover, .edge:hover {
  cursor: pointer;
}

.node-label {
  font-size: 24;
}

div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 60px;                  
  height: 25px;                 
  padding: 2px;             
  font: 16px sans-serif;
  color: white;
  background: black;   
  border: 0px;      
  border-radius: 5px;           
  pointer-events: none;         
}

.clear {
  clear: both;
}