@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  background-color:#333333;
}

#main {
  margin-top: 2%;
  text-align: center;
}

#graph_title {
  color: white;
  opacity: 0.5;  
  font-size: 40px;
  font-weight: 300;
}

.info {
  padding: 5px 40px;
  font-size: 22px;
  color: white;
}

#buttons {
  display: inline-block;
  float: right;
  margin: 10px 0;
}

button {
  border: 0;
}

button:hover, button.active {
  background-color: #5CC3B6;
}

#pause {
  margin: 0;
  padding: 1px 0 0 3px;
}

#slider {
  float: right;
  display: inline-block;
  width: 30%;
  margin: 15px 20px;
}

.wheel {
  opacity: 0.5;
  fill: black;
}

.impact_edge, .edge, .animate {
  stroke-width: 2px;
  fill:  none;
}

.node {
  font-size: 10px;
}


.node:hover, .edge:hover {
  cursor: pointer;
}

.node-label {
  font-size: 24; 
}

div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 60px;                  
  height: 25px;                 
  padding: 2px;             
  font: 16px sans-serif;
  color: white;
  background: black;   
  border: 0px;      
  border-radius: 5px;           
  pointer-events: none;         
}

.clear {
  clear: both;
}